
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Contenedor cabecera */
.imagen_subhome{
    width: 100%;
   }

#navegadorEnlaces{
    border-collapse:separate; 
    text-align:center;
    font-size: medium;
    width:100%;
    border-spacing:20px 10px;
    
    
}

.cabecera_subhome{
    width:100%;
    text-decoration: none;
    color: black;
    
} 

#subFoto{
    width:100%;
}

.titulo_principal{
    text-align:center;
    margin:2% 0%;
    
}
   
    /* Contenedor de los primeros subvencionados */
#logoUE{
    width:95%;
}
#contenedor_cursos1{
    width:90%;
    margin:0 auto;
    border-radius:20px;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:'it1 it1 it2 it2'
                        'it3 it3 it3 it3'
                        'it4 it4 it5 it5'
                        'it6 it6 it6 it6'
                        'it7 it7 it8 it8'
                        'it9 it9 it9 it9'
                        'it10 it10 it10 it10'
                        ;
    text-align:left;
}
.item1{
    grid-area: it1;
    text-align: left;
    margin-left:2%;
}
.item2{
    grid-area: it2;
    text-align: right;
    padding: 5px;
    margin-right:10px;
}
#botonPre{
    font-size:30px;
    padding:2%;
    margin-top:3%;
    background-color: #e53935;
    border-radius:15px;
}
.enlace_preinscripcion{
    text-decoration:none;
    color:white;
}
.item3{
    grid-area: it3;
    text-align: center;
    font-size:15px;
    padding: 5px;            
}
.item4{
    grid-area: it4;
    text-align: left;
    font-size:18px;
    padding: 5px;
    margin-left:15px;            
}
.item5{
    grid-area: it5;
    text-align: left;
    font-size:18px;
    padding: 5px;  
    margin-left:15px;
}
.item6{
    grid-area: it6;
    text-align: left;
    font-size:18px;
    margin-left:15px;
    padding: 5px;            
}
.item7{
    grid-area: it7;
    text-align: justify;
    margin-left:20px;
    font-size:18px;
              
}
.item8{
    grid-area: it8;
    text-align: left;
    margin-left:15px;
    padding: 5px;            
}
.item9{
    grid-area: it9;
    text-align: left;
    font-size:18px;
    margin-left:15px;
}
.item10{
    grid-area: it10;
    text-align: center;
    margin-bottom:5px;            
}
#temarioBoton{
    width: 100px;
    height: auto;
    font-size:20px;
    background-color:#558eb7;
    border-radius:10px;
    padding: 4 9 4 9;
    
}
.enlace_sepe{
    text-decoration:none;
    color:white;
}
.etiq{
    padding:3px;
    background-color:#50b2f8;
    
    font-weight: bold;
    float:left;
    margin:0px 8px;
    border-radius:5px;
}

/* Contenedor de los cursos de idiomas */
#contenedor_ingles1{
    padding: 30px;
    
    
    border-radius: 20px;
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 33,33% 33,33% 33,33%;
    grid-template-areas:'it11 it11 it12'
                        'it13 it13 it12'
                        'it14 it14 it12'
                        'it15 it16 it16'
                        'it17 it17 it17'
                        'it18 it18 it19'
                        ;
    text-align:justify;
    gap:5px;
}
#contenedor_ingles1:hover{
    box-shadow: 7px 9px 12px 0px rgba(112,112,112,0.51);
}
#logoCambr{
    width:30%;
}
.etiq2{
    
    margin:0px 10px 0px 10px;
    padding:3px;
    background-color:#9cd4c5;
    float:left;
    border-radius:10px;
    font-size:25px;
}
.item11{
    grid-area: it11;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:40px;
}
.item12{
    grid-area: it12;
    text-align: right;
    border-color:none;
    border-style:none;
}
.item13{
    grid-area: it13;
    text-align: left;
    border-color:none;
    border-style:none;
    
}
.item14{
    padding: 5px;
    grid-area: it14;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:25px;
}
.item15{
    grid-area: it15;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:25px;
    
}
.item16{
    grid-area: it16;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:25px;
}
.item17{
    grid-area: it17;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:25px;
}
.item18{
    grid-area: it18;
    text-align: left;
    border-color:none;
    border-style:none;
    font-size:25px;
}
.item19{
    grid-area: it19;
    text-align: center;
    border-color:none;
    border-style:none;
}
.titulo_subhome1{
    text-align:center;
}
#tit{
    width: 75%;
    margin-top:2px;
    
}

/* EMPIEZA CONFIGURACIÓN DE INDEX.PHP */

#contenedorIndex {

    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33, 33% 33, 33% 33, 33%;
    grid-template-areas: 'it20 it20 it20'
        'it21 it22 it23'
        'it24 it25 it26'
    ;
    text-align: center;
    gap: 5px;

}

.item20 {
    grid-area: it20;
    text-align: center;
    
    
}

.item21 {
    grid-area: it21;
    border:2px solid black;
    text-align: left;
    width:90%;
    border-radius: 15px;
    margin:10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    
    gap: 5px;
}
.item21:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.item211 {
    grid-area: it211;
    
    text-align: center;

}
.item212 {
    grid-area: it212;
    font-size: 25px;
    text-align: left;
    margin-left: 5px;


}

.item213 {
    grid-area: it213;
    font-size: 15px;
    text-align: left;
    margin-left: 10px;
    margin-top:-3px;

}

.item22 {
    grid-area: it22;
    width:90%;
    border:2px solid black;
    text-align: left;
    margin:10px;
    border-radius: 15px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    text-align: justify;
    gap: 5px;
}
.item22:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.item23 {
    grid-area: it23;
    border:2px solid black;
    text-align: left;
    width:90%;
    margin:10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    text-align: justify;
    gap: 5px;
}
.item23:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.item24 {
    grid-area: it24;
    border:2px solid black;
    text-align: left;
    width:90%;
    margin:10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    text-align: justify;
    gap: 5px;
}
.item24:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.item25 {
    grid-area: it25;
    border:2px solid black;
    text-align: left;
    width:90%;
    margin:10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    text-align: justify;
    gap: 5px;
}
.item25:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.item26 {
    grid-area: it26;
    border:2px solid black;
    text-align: left;
    width:90%;
    margin:10px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 'it211'
        'it212'
        'it213'
    ;
    text-align: justify;
    gap: 5px;
}
.item26:hover{
    box-shadow: 10px 9px 13px 0px rgba(97,97,97,0.65);
}
.imagenCurso {
    border-radius: 15px;
    margin: 10px;
    width: 80%;
}

#tit {
    width: 200px;
    margin-left: 0%;
    margin-right: 50%;
}

#enlaceIndex{
text-decoration: none;
font-weight: bolder;
color: black;
}

#enlaceCursos{
text-decoration: none;
font-weight: bolder;
color: black; }
    
#enlaceIdiomas{
text-decoration: none;
font-weight: bolder;
color: black;
 }
 

 #enlaceIndex:hover{
    color:#2E81C8;
    font-size: large;
    }
#enlaceCursos:hover{
        color:#2E81C8;
        
        font-size: large;
    }
        
#enlaceIdiomas:hover{
        color:#2E81C8;
        font-size: large;
     }


     @media screen and (max-width:900px) {
        #contenedorIndex{
       grid-template-columns: 50%, 50%;
       grid-template-areas: 'it20 it20'
           'it21 it22'
           'it23 it24'
           'it25 it26'
       ;}
       #contenedor_cursos1{
       grid-template-columns: 50% 50%;
       grid-template-areas:'it1 it1'
           'it2 it2'
           'it3 it3'
           'it4 it4'
           'it5 it5'
           'it6 it6'
           'it7 it7'
           'it8 it8'
           'it9 it9'
           'it10 it10';
   }
       .etiq{
       padding:1px;
       margin:2px 4px;
       border-radius:3px;
   }
           #logoUE{
           display: none;}
       #botonPre{
       font-size:20px;
       border-radius:10px;
       }
           #temarioBoton{
       font-size:20px;
     
       border-radius:10px;
       
   }
       #contenedor_ingles1{
       padding: 20px;
       
       
       border-radius: 15px;
       width:80%;
       grid-template-columns: 50% 50%;
       grid-template-areas:'it11 it12'
                           'it13 it12'
                           'it14 it12'
                           'it15 it16'
                           'it17 it17'
                           'it18 it19'
                           ;
   }
       .etiq2{
       
       margin:2px 10px 2px 10px;
       
       
       font-size:20px;
   }
   }
   @media screen and (max-width:500px) {
   
       #contenedorIndex{
           grid-template-columns: 100%;
           grid-template-areas: 'it20'
           'it21'
           'it22'
           'it23'
           'it24'
           'it25'
           'it26'
       ;}
       #contenedor_cursos1{
       grid-template-columns: 100%;
       grid-template-areas:'it1'
           'it2'
           'it3'
           'it4'
           'it5'
           'it6'
           'it7'
           'it8'
           'it9'
           'it10';
   }
       .etiq{
       padding:0px;
       margin:2px 2px;
       border-radius:2px;
   }
       #logoUE{/*visibility: hidden;*/
           display: none;}
       #botonPre{
       font-size:15px;
       
       border-radius:10px;
   }
         #temarioBoton{
       font-size:18px;
     
       border-radius:10px;
       
   }
       #contenedor_ingles1{
       padding: 10px;
       
       
       border-radius: 10px;
       width:80%;
       grid-template-columns: 100%;
       grid-template-areas:'it11'
                           'it13'
                           'it14'
                           'it15'
                           'it16'
                           'it17'
                           'it18'
                           'it19'
                           ;
   }
       #logoCambr{
           display: none;}
        .etiq2{
       
       margin:2px 10px 2px 10px;
       
       
       font-size:20px;
   }
   }
   
   